
<div class="panel-body col-md-6" id="hover2">
    @*<div class="panel-body  col-md-12">*@
<label for="inputAddress"><u>List Of Network Device</u></label>
    <div align="left">
        <table class="table table-bordered table-striped display" id="verifyUser4" align="center" border="1" width="100%" style="height:150px;border-color:aliceblue;">
            <thead style="background-color:moccasin">
                <tr>
                    <th width="2%"></th>
                    <th width="3%" class="text-center">No.</th>
                    <th class="text-center">Network Device</th>
                    <th class="text-center">IP Address</th>
                    <th class="text-center">Model</th>

                </tr>
            </thead>
            <tbody>

                @{
                    var count = 0;
                    foreach (var item in Model.VulProjNetDeviceLst)

                    {
                        count = count + 1;
                        <tr>
                            <td align="center">
                                <input type="checkbox" name="chkListOfNetworkDevice" value="@item.VulProjNetDeviceLstId" />
                            </td>
                            <td style="text-align:center">@count</td>
                            <td>@Html.Raw(item.NetDevice)</td>
                            <td>@Html.Raw(item.IPAddr)</td>
                            <td>@Html.Raw(item.Model)</td>

                        </tr>
                    }
                }
            </tbody>
            @*<tbody style="text-align:left"></tbody>*@
        </table>
    </div>

    <div align="center">
        <button class="btn btn-primary btn-xs" onclick="AddListOfNetworkDevice(); return false;">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
        </button>


        <button type="button" id="deleteListOfNetworkDevice" class="btn btn-danger btn-xs delete" data-bind="click:DeleteListOfNetworkDevice">
            <span class="glyphicon glyphicon-trash"></span> Delete
        </button>
    </div>
    @*</div>*@
</div>

<script>
    function AddListOfNetworkDevice() {

        $('#ListOfNetworkDevice').modal('show');

    }
</script>