
    <div class="panel-body col-md-10" id="hover2">
        @*<div class="panel-body  col-md-12">*@
        <label for="inputAddress">Screenshot</label>
        <div align="left">
            <table class="table table-bordered table-striped display" id="Screenshot"  border="1" align="center" width="100%" style="height:150px;border-color:aliceblue;">
                <thead style="background-color:moccasin">
                    <tr>
                        <th width="2%"></th>
                        <th width="3%" class="text-center">No.</th>
                        <th width="40%" class="text-center">File Name</th>
                        <th class="text-center">Date Upload</th>
                        <th class="text-center"></th>

                    </tr>
                </thead>
                <tbody>

                    @{
                        var count = 0;
                        foreach (var item in Model.VulManInputScreenshot)

                        {
                            count = count + 1;
                            <tr>
                                <td align="center">
                                    <input type="checkbox" name="chkFindingListScreenshot" value="@item.VulManInptScreenshotLstId" />
                                </td>
                                <td style="text-align:center">@count</td>
                                <td>@Html.Raw(item.Title)</td>
                                <td style="text-align:center">@item.CreatedDt</td>
                                <td style="text-align:center"> 
                                    <a href="@item.Path" download>
                                        <font color="blue">Download</font>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
                @*<tbody style="text-align:left"></tbody>*@
            </table>
        </div>

        <div align="center">

            <button class="btn btn-primary btn-xs" onclick="AddFindingListScreenshot(); return false;">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
            </button>

            <button type="button" id="deleteFindingListScreenshot" class="btn btn-danger btn-xs delete" data-bind="click:DeleteFindingListScreenshot">
                <span class="glyphicon glyphicon-trash"></span> Delete
            </button>

        </div>
        @*</div>*@
    </div>

<script>
    function AddFindingListScreenshot() {

        $('#FindingListScreenshot').modal('show');

    }
</script>