@using Newtonsoft.Json;
@using myvdbsSQL;
@using MyVDBSDemo.Models;
@using System.Configuration
@*@model IEnumerable<MyVDBSDemo.Models.tblCVEDetail>*@
@model MyVDBSDemo.Models.StatVulByYearDetail
@using MVCEncrypt;


@{
    ViewBag.Title = "Statistic Vulnerability By Year";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

}

<div class="col-lg-12" style="margin-top:80px">
    <div class="panel panel-info">
        <div class="panel-body">
            <table class="table table-bordered table-striped display" id="pageList" align="center">
                <thead style="background-color:moccasin">
                    <tr>
                        <th class="col-sm-1 text-center">No.</th>
                        <th class="col-sm-4 text-center">Year</th>
                        <th class="col-sm-3 text-center">Total</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var count = 0;
                        foreach (var item in Model.StatVulByYearList)

                        {
                            count = count + 1;
                            <tr>
                                <td style="text-align:center">@count</td>
                                <td>
                                    @item.CVEYear
                                </td>
                                <td>
                                    @item.Total
                                </td>
                                @*<td style="text-align:center">
                                    @item.Complexity
                                </td>*@
                            </tr>
                                        }
                    }
                </tbody>

            </table>
            <div class="col-sm-5" style="margin-top: 20px">
                <div class="dataTables_info" id="pageList_info" role="status" aria-live="polite"><font data-bind="text:'Showing ' + (viewModel.pageind() + 1) + ' to ' + (viewModel.pageind() + viewModel.totaleachpage()) + ' of ' + viewModel.countAllRow() + ' entries'"></font></div>
            </div>
            <div class="col-sm-7" align="right">
                <div id="drawSearchPaginateDT"></div>
            </div>
            <div class="row">
                <div class="col-md-12" align="center">
                    <button type="button" id="openreport" class="btn btn-primary btn-sm m-t-10" data-bind="click:Print">
                        <span class="fa fa-print" aria-hidden="true"></span> Print Preview
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="~/Scripts/Common/DateFormat.js"></script>
<script src="~/Scripts/Common/Pagination.js"></script>
<script src="~/Scripts/Common/Common.js"></script>
<script src="~/Scripts/Common/CookieHelper.js"></script>
<script>

    var Rating = @Html.Raw(JsonConvert.SerializeObject(@Model, Formatting.None,
        new JsonSerializerSettings()
        {
            ReferenceLoopHandling = ReferenceLoopHandling.Ignore
        }));

    var reportserver ='@ConfigurationManager.AppSettings["ReportServer"]';
</script>

<script>

    $("#datepicker").datepicker({
        changeMonth: false,
        changeYear: true,
        dateFormat: 'yy'
    });

    var inputMapper = {
        "CVEId": 2,
        "VulnerabilityType" : 3,
        "Complexity" : 4,
        "PublishDate" : 5
    };
    // Initialize DataTables
    var dtInstance = $("#pageList").DataTable({
        "scrollCollapse": false,
        "paging": true,
        "columnDefs": [{
            "searchable": false,
            "orderable": false,
            "targets": 0
        }],
        "order": [[1, 'asc']],
        bLengthChange: true,
        // Enable datatables.mark.js highlighting
        mark: true
    });

    dtInstance.on('order.dt search.dt', function () {
        dtInstance.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
            cell.innerHTML = i + 1;
        });
    }).draw();

    dtInstance.on( 'draw', function () {
        $('#paginatesearch').val(dtInstance.page()+1);
        setCookie("listingpage11", dtInstance.page()+1, 1);
    } );

    // Trigger DataTables redraw on search keyword change
    $("input").on("input", function () {
        var $this = $(this);
        var val = $this.val();
        var key = $this.attr("name");

        // Search inside DataTable column
        // subtract -1 because :nth-child starts with 1,
        // DataTables with 0
        dtInstance.columns(inputMapper[key] - 1).search(val).draw();
    });


    var viewModel;
    var UserIdLogin = '@User.Identity.Name';


    $(function () {
        viewModel = {
            rating1: ko.mapping.fromJS(Rating),

        }

        ko.applyBindings(viewModel);
    });

    function Print() {

        ReportPath = "MYVDBMS/Laporan";
        strRptName = "byYear";
        ReportTitle = "Static Vulnerability By Year";

        //   RL = server + "/Report/URL_ReportsLauncher.aspx?"
        //  http://atm-dev//ReportServer?/LeaveReports/rptLeaveApp&intLvAppId=2466645&strLvTypeCd=L0101&rs:Command=Render
        //RL = reportserver+"/ReportServer?"+"/"+ReportPath+"/"+strRptName+"&intLvAppId="+viewModel.selectLvappId()+"&strLvTypeCd="+viewModel.lvTypeCd();
        RL = reportserver+"/ReportServer?"+"/"+ReportPath+"/"+strRptName;

        //params = params + "&ReportPath=" + ReportPath;
        //params = params + "&ReportName=" + strRptName;
        //params = params + "&ReportTitle=" + ReportTitle;
        //params = params + "&intLvAppId=" + viewModel.selectLvappId();
        //params = params + "&strLvTypeCd=" + viewModel.lvTypeCd();
             
             
        //fullPath = RL + params;
        fullPath = RL;
        strStyle = "toolbar=no,menubar=no,location=no,scrollbars=no,resizable=yes,width=950,height=650,top=10,left=600";
        blnWindowReplace = true;
        window.open(fullPath, '_blank','noopener');

    }

    

    function drawSearchPaginateDT() {

        var searchPaginateDT = "<div id='hidesearch'> Page <input type='text' size='4'  id='paginatesearch' value ='1' onchange='searchPaginateList(this.value)' autocomplete='off'></input></div>";

        $("#drawSearchPaginateDT").html(searchPaginateDT);
    }

    function searchPaginateList(pageNum) {
        var lastPage = $('#pageList').DataTable().page.info().pages;

        if(pageNum > lastPage)
            pageNum = lastPage;

        $('#paginatesearch').val(pageNum);

        var pageIndex = pageNum - 1;
        $('#pageList').DataTable().page(pageIndex).draw('page')

    }
    
    //var table = $('#pageList').DataTable();
 
    //table.on( 'draw', function () {
    //    $('#paginatesearch').val(table.page()+1);
    //    setCookie("listingpage11", table.page()+1, 1);
    //} );
    
    $(document).ready(function(){
        drawSearchPaginateDT();
        checkListingPageCookie2("listingpage11");
    });
</script>


