@using Newtonsoft.Json
@using MyVDBSDemo.Models
@model ForgotPasswordViewModel
@{
    ViewBag.Title = "MyVDBS - Forgot password";
    Layout = null;
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap4.0.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap4.0.0/js/bootstrap.min.js" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/cssLogin/login.css" rel="stylesheet" />
    <link href="~/images/favicon.ico" rel="icon" type="image/x-icon" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="@Url.Content("~/Scripts/Main/commondialog.js")"></script>
    <script language="javascript" src="~/Scripts/Common/Common.js" type="text/javascript"></script>
    <script src="~/Scripts/Core/civem-0.0.7.min.js"></script>
    <script language="javascript" src="~/Scripts/Common/ConfirmationScript.js" type="text/javascript"></script>
    <script src="~/Scripts/Main/knockout-3.2.0.js"></script>
    <script src="~/Scripts/Main/knockout.mapping-latest.debug.js"></script>
    <script src="~/Scripts/Main/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/jquery.validationEngine.js"></script>
    <script src="~/Scripts/jquery.validationEngine-en.js"></script>
    <link href="~/Content/validationEngine.jquery.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="bg3">

        <div class="container-fluid">
            <div class="row-fluid">

                <div class="row justify-content-center">
                    <form id="register_form" class="p-15" role="form">
                        @*@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
                            {*@
                        @Html.AntiForgeryToken()

                        <div style="color:white">
                            <h1>Forgot your password?</h1>
                            <p>Please enter the email address registered on your account.</p>
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            @*<input type="email" class="form-control" placeholder="user@myvdbs.com" id="Email" name="Email" required=required data-errormessage-value-missing="Please enter your Email" />*@
                            <input type="email" class="validate[required] form-control form-control-sm" id="Email" name="Email" placeholder="user@myvdbms.com.my" required=required data-errormessage-value-missing="Please enter your Email">

                        </div>
                        @Html.ValidationMessageFor(a => a.Email, "", new { @class = "text-danger" })<br>

                        <button type="submit" class="btn btn-primary btn-sm m-t-10" data-bind="click:save"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Submit</button>
                        <button type="button" class="btn btn-info btn-sm m-t-10" onclick="location.href='/Account/Index';"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back</button><br><br>

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @*}*@
                    </form>
                </div>

            </div>
        </div>

    </div>

    @Html.Partial("_CommonDialog")
</body>
</html>

<script>

    var Register = @Html.Raw(JsonConvert.SerializeObject(@Model, Formatting.None,
                               new JsonSerializerSettings()
    {
                                   ReferenceLoopHandling = ReferenceLoopHandling.Ignore
    }));


    //$('#btnBtal').click(function () {
    //    //location.href = server + "/Account/Login";
    //    location.href = "/Account/Login";

    //});


   $('#register_form').submit(function () {
       $('input[type=submit]', this).attr('disabled', 'disabled');
    });

    @functions{
        public string TokenHeaderValue()
        {
            string cookieToken, formToken;
            AntiForgery.GetTokens(null, out cookieToken, out formToken);
            return cookieToken + ":" + formToken;
        }
    }

    var formCsrf = $('#__AjaxAntiForgeryForm');
    var tokenCsrf = $('input[name="__RequestVerificationToken"]', formCsrf).val();
</script>

@if (TempData["Message"] != null)
{
    <script type="text/javascript">
        $(function () {
            ShowMessage('@TempData["Message"]');
            $('input[type="submit"]').attr('disabled' , false);
        });
    </script>
}

<script>
    var viewModel;
    var btnBack = function () {
        location.href = "/Account/Index"
    }
    $(function () {

        viewModel = {
            Register: ko.mapping.fromJS(Register),

            save: function () {

                var value = $("#register_form").validationEngine('validate');
                AddAntiCSRFToken = function (data) {
                    var token = $('#register_form input[name=__RequestVerificationToken]').val();
                    data.__RequestVerificationToken = token;
                    return data;
                };

                if (value == true) {

                    $.ajax({
                        type: 'POST',
                        url: '/Account/ForgotPassword',
                        //contentType: "application/json; charset=utf-8",
                        dataType: 'json',
                        headers: {
                            '__RequestVerificationToken': tokenCsrf
                        },
                        data: AddAntiCSRFToken(
                            {
                                Email: $("#Email").val(),
                            }),
                        //data: JSON.stringify({ modelss: ko.mapping.toJS(viewModel.Register.RegisterViewModel) }),
                        success: function (msg) {
                            if (msg.OK) {
                                if (msg.account == "notVerify") {
                                    ShowMessageSuccess("Account not verified. Please wait for admin verification.", btnBack);
                                    $(window).click(function () {
                                        location.href = "/Account/Index";
                                    });
                                } else {
                                    // ShowMessageSuccess("Forgot Password Confirmation Successfully. Please check your email for reset link.");
                                    ShowMessageSuccess("You will received your reset password link at your registered email.", btnBack);
                                    $(window).click(function () {
                                        location.href = "/Account/Index";
                                    });
                                }

                            }
                            else {

                                //ShowMessage('Your ID is unsuccesfully added. Please try again.');
                                ShowMessage('You will received your reset password link at your registered email.');
                            }

                        },
                        error: function (xhr) {
                        }
                    });


                } else {
                    $("#register_form").validationEngine();
                }

            },
        }


        ko.applyBindings(viewModel);
    });


</script>

@* no danger/failed *@
@if (TempData["Message_danger"] != null)
{
    <script type="text/javascript">
        $(function () {
            ShowMessageDanger('@TempData["Message_danger"]');
        });
    </script>
}
@* no warning *@
@if (TempData["Message_warning"] != null)
{
    <script type="text/javascript">
    $(function () {
        ShowMessageWarning('@TempData["Message_warning"]');
    });
    </script>
}