
@{
    ViewBag.Title = "MyVDBS - Forgot password?";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap4.0.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap4.0.0/js/bootstrap.min.js" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/cssLogin/login.css" rel="stylesheet" />
    <link href="~/images/favicon.ico" rel="icon" type="image/x-icon" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="@Url.Content("~/Scripts/Main/commondialog.js")"></script>
    <script language="javascript" src="~/Scripts/Common/Common.js" type="text/javascript"></script>
    <script src="~/Scripts/Core/civem-0.0.7.min.js"></script>
    <script language="javascript" src="~/Scripts/Common/ConfirmationScript.js" type="text/javascript"></script>

    <title>@ViewBag.Title</title>

    <style>
        .pass-tips-valid {
            color: #00FF00;
        }

        .pass-tips-invalid {
            color: red;
        }

        .hides {
            display: none;
        }
    </style>
</head>
<body>
    <div class="bg3">

        <div class="container-fluid">
            <div class="row-fluid">

                <div class="row justify-content-center">
                    
                    @using (Html.BeginForm("ResetPasswordAddNewUser", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <div style="color:white">
                            <h1>Reset password.</h1>
                            <p>Link can only be used once.</p>
                        </div>

                        @*<div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password" class="form-control" placeholder="new password" id="NewPassword" name="NewPassword" required=required data-errormessage-value-missing="Please enter your new Password?" />
                        </div><br>*@

                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input type="password" class="form-control" placeholder="new password" id="Password1" name="NewPassword" required=required data-errormessage-value-missing="Please enter your new Password?" onchange="CheckVal(1)" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" />
                            </div><br>
                        </div>

                        <div class="col-md-4" id="msg" style="display: none;color:white;">
                            <div style="text-align:left;">Password must contain a combination of : </div>
                            <div id="tips_min" class="pass-tips-invalid" style="text-align:left;"><span id="icon_min" class="fa fa-times"></span> a minimum of 8 characters</div>
                            <div id="tips_upper" class="pass-tips-invalid" style="text-align:left;"><span id="icon_upper" class="fa fa-times"></span> minimum 1 uppercase letter</div>
                            <div id="tips_lower" class="pass-tips-invalid" style="text-align:left;"><span id="icon_lower" class="fa fa-times"></span> minimum 1 lowercase letter</div>
                            <div id="tips_num" class="pass-tips-invalid" style="text-align:left;"><span id="icon_num" class="fa fa-times"></span> minimum 1 number</div>
                            <div id="tips_symbol" class="pass-tips-invalid" style="text-align:left;"><span id="icon_symbol" class="fa fa-times"></span> minimum 1 symbol</div>
                            <div id="tips_max" class="pass-tips-invalid" style="text-align:left;"><span id="icon_max" class="fa fa-times"></span> a maximum of 12 characters</div>
                        </div>

                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input type="password" class="form-control" placeholder="new password confirmation" id="Password2" name="ConfirmPassword" onchange="CheckVal(2)" required=required data-errormessage-value-missing="Please enter your new Password confirmation" />

                            </div><br>
                        </div>
                        @*<div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password" class="form-control" placeholder="new password confirmation" id="ConfirmPassword" name="ConfirmPassword" required=required data-errormessage-value-missing="Please enter your new Password confirmation" />
                        </div><br>*@
                        <div class="col-md-4" id="msg2" style="display: none;">
                            <div style="text-align:left;" id="tips_confirm" class="pass-tips-invalid"><span id="icon_confirm" class="fa fa-times"></span> Confirm Password must same with Password</div>
                        </div>

                        <input type="hidden" class="form-control" placeholder="@ViewBag.encLink" id="ResetToken" name="ResetToken" value="@ViewBag.encLink" />

                        <div class="col-md-8">
                            <button type="button" class="btn btn-primary btn-sm" style="background-color:#ff9900" onclick="location.href='/Account/Login';">&nbsp;&nbsp;Back&nbsp;&nbsp;</button>
                            <button type="submit" id="submit" class="btn btn-primary btn-sm hides" style="background-color:#ff9900">&nbsp;&nbsp;Reset&nbsp;&nbsp;</button>
                        </div>
                        @*<button type="button" class="btn btn-primary btn-sm" style="background-color:#ff9900" onclick="location.href='/Account/Login';">&nbsp;&nbsp;Back&nbsp;&nbsp;</button>
                        <button type="submit" class="btn btn-primary btn-sm" style="background-color:#ff9900">&nbsp;&nbsp;Reset&nbsp;&nbsp;</button>*@

                    }
                   
                </div>

            </div>
        </div>

    </div>

    @Html.Partial("_CommonDialog")
</body>
</html>

@* no danger/failed *@
@if (TempData["Message_danger"] != null)
{
    <script type="text/javascript">
        $(function () {
            ShowMessageDanger('@TempData["Message_danger"]');
        });
    </script>
}
@* no warning *@
@if (TempData["Message_warning"] != null)
{
    <script type="text/javascript">
$(function () {
    ShowMessageWarning('@TempData["Message_warning"]');
});
    </script>
}


<script>
    var viewModel;

    var totalformatsuccess = 0;

    var myInput = document.getElementById("Password1");
    var myInput2 = document.getElementById("Password2");


    // When the user clicks on the password field, show the message box
    myInput.onfocus = function () {
        document.getElementById("msg").style.display = "block";
    }

    // When the user clicks outside of the password field, hide the message box
    myInput.onblur = function () {
        document.getElementById("msg").style.display = "none";
    }

    // When the user clicks on the confirm password field, show the message box
    myInput2.onfocus = function () {
        document.getElementById("msg2").style.display = "block";
    }

    // When the user clicks outside of the confirm password field, hide the message box
    myInput2.onblur = function () {
        document.getElementById("msg2").style.display = "none";
    }

    // When the user starts to type something inside the password field
    myInput.onkeyup = function () {

        var a = 0;
        var b = 0;
        var c = 0;
        var d = 0;
        var e = 0;
        var f = 0;
        // Validate lowercase letters
        var lowerCaseLetters = /[a-z]/g;
        if (myInput.value.match(lowerCaseLetters)) {
            $("#tips_lower").addClass('pass-tips-valid').removeClass('pass-tips-invalid');
            $("#icon_lower").removeClass('fa fa-times').addClass('fa fa-check');
            a = 1;
        } else {
            $("#tips_lower").addClass('pass-tips-invalid').removeClass('pass-tips-valid');
            $("#icon_lower").removeClass('fa fa-check').addClass('fa fa-times');
        }

        // Validate capital letters
        var upperCaseLetters = /[A-Z]/g;
        if (myInput.value.match(upperCaseLetters)) {
            $("#tips_upper").addClass('pass-tips-valid').removeClass('pass-tips-invalid');
            $("#icon_upper").removeClass('fa fa-times').addClass('fa fa-check');
            b = 1;
        } else {
            $("#tips_upper").addClass('pass-tips-invalid').removeClass('pass-tips-valid');
            $("#icon_upper").removeClass('fa fa-check').addClass('fa fa-times');
        }

        // Validate numbers
        var numbers = /[0-9]/g;
        if (myInput.value.match(numbers)) {
            $("#tips_num").addClass('pass-tips-valid').removeClass('pass-tips-invalid');
            $("#icon_num").removeClass('fa fa-times').addClass('fa fa-check');
            c = 1;
        } else {
            $("#tips_num").addClass('pass-tips-invalid').removeClass('pass-tips-valid');
            $("#icon_num").removeClass('fa fa-check').addClass('fa fa-times');
        }

        var symbols = /[^\w\s]/gi;
        if (myInput.value.match(symbols)) {
            $("#tips_symbol").addClass('pass-tips-valid').removeClass('pass-tips-invalid');
            $("#icon_symbol").removeClass('fa fa-times').addClass('fa fa-check');
            d = 1;
        } else {
            $("#tips_symbol").addClass('pass-tips-invalid').removeClass('pass-tips-valid');
            $("#icon_symbol").removeClass('fa fa-check').addClass('fa fa-times');
        }


        // Validate length
        if (myInput.value.length >= 8) {
            $("#tips_min").addClass('pass-tips-valid').removeClass('pass-tips-invalid');
            $("#icon_min").removeClass('fa fa-times').addClass('fa fa-check');
            e = 1;
        } else {
            $("#tips_min").addClass('pass-tips-invalid').removeClass('pass-tips-valid');
            $("#icon_min").removeClass('fa fa-check').addClass('fa fa-times');
        }

        if (myInput.value.length <= 12) {
            $("#tips_max").addClass('pass-tips-valid').removeClass('pass-tips-invalid');
            $("#icon_max").removeClass('fa fa-times').addClass('fa fa-check');
            f = 1;
        } else {
            $("#tips_max").addClass('pass-tips-invalid').removeClass('pass-tips-valid');
            $("#icon_max").removeClass('fa fa-check').addClass('fa fa-times');
        }

        var total = a + b + c + d + e + f;
        totalformatsuccess = total ;

    }// }


    myInput2.onkeyup = function () {

        var password = myInput.value;
        var confirm = myInput2.value;

        //validate confirmation
        if (password == confirm) {
            $("#tips_confirm").addClass('pass-tips-valid').removeClass('pass-tips-invalid');
            $("#icon_confirm").removeClass('fa fa-times').addClass('fa fa-check');
        }
        else {
            $("#tips_confirm").addClass('pass-tips-invalid').removeClass('pass-tips-valid');
            $("#icon_confirm").removeClass('fa fa-check').addClass('fa fa-times');
        }

        //$("#password2").focus(function () {
        //    $("#msg2").show();
        //});
        //$("#password2").blur(function () {
        //    $("#msg2").hide();
        //});
    }// }

    function CheckVal(ind) {

        var myInput = document.getElementById("Password1");
        var myInput2 = document.getElementById("Password2");
        var password = myInput.value;
        var confirm = myInput2.value;
        var totalCofrm = totalformatsuccess;

        if (ind == 1) {
            if (totalCofrm == 6) {
                if (confirm != "") {
                    if (password != confirm) {
                        ShowMessageWarning("Password does not match. Please re-enter a new password again.");
                        $("#Password1").val("");
                        $("#Password2").val("");
                        $("#submit").addClass("hides");
                    } else {
                        $("#submit").removeClass("hides");
                    }
                }
            }
            else {
                ShowMessageWarning("Please match the request password format.");
                $("#submit").addClass("hides");
            }
        } else {
            if (password != confirm) {
                ShowMessageWarning("Password does not match. Please re-enter a new password again.");
                $("#Password1").val("");
                $("#Password2").val("");
                $("#submit").addClass("hides");
            } else {
                $("#submit").removeClass("hides");
            }
        }

    }
</script>